<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Contact us</h1>

<form action="">

<label for="email">Email-Id</label>
<input type="email" name="email" id="email">

<label for="name">Name</label>
<input type="text" name="name" id="name">

<label for="address">Address</label>
<input type="textarea" name="address" id="adress">

<label for="message">Message</label>
<input type="textarea" name="message" id="message">


<input type="submit" name="submit" id="submit">

</form>

</body>
</html>